// Colors
$color-main: #2196f3;
$color-main_active: #2173b5;
$color-main_hover: #37a6ff;
$color-black: #616161;

// Transitions
$transition-fast: 0.1s;
$transition-slow: 0.3s;

// Optional
$box-shadow: 0 1px 3px rgba(0,0,0,.1);